// Screen
// ======

@import "grids";

@mixin container{
	.container {
		@include span(4 at 5 isolate);
		perspective: 1000;
		padding-top: 5em;
		cursor: pointer;

	}

	.container:hover .card, .container.hover .card {
		transform: rotateY(180deg);
	}

	.container, .A_side, .B_side {
		height: 20em;
		width: 24em;
	}

	.card {
		transition: 0.6s;
		transform-style: preserve-3d;
		position: relative;
		box-shadow:-4px 2px 2px 2px grey;
	}

	.A_side, .B_side {
		backface-visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		box-shadow:0px 4px 0px 2px grey;
	}

	.A_side {
		z-index: 2;
		transform: rotateY(0deg);
		background: red;
		padding-left: 1em;
		display: block;
	}

	.B_side {
		transform: rotateY(180deg);
		background: grey;
		padding-left: 1em;
		display: block;
	}
	p {
		z-index: 2;
	}

}





html {
	box-sizing: border-box;
	font-family: courier;
	text-shadow: 1px 1px 1px black;
	color: white;
}

body {
	// background: url(../images/bg1.jpg) no-repeat center center fixed;
	// background-size: cover; 
}

div{
	@include span(12);
	//height: 100%;
	display: flex;
	background-size: 70%;
	//background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.nav {
background: rgba(255, 0, 0, 0.1);
text-align: center;
position: fixed;
padding-left: 30%;
z-index: 3;
}

.nav a {
	text-decoration: none;
	color: white;
}
.nav a:hover {
	color: yellow;
}

.greeting{
	padding-top: 10%;
}

.intro{
	height: 45em;
	background-image:url(../images/portfolio_header4.png);
	background-position: right;
	padding: auto;
}

.vinylA {
	height:20%;
	background:black;
	height: 100px;
}

.content {
	padding: 1em;
	margin: 1em;
}

.design {
	height: 10em;
	margin: auto;
	padding: auto;
}

.design p {
	@include span(12);
	text-align: right;
	padding: 1.5em;
	//padding-right:;
	font-size: 36px;
	color: red;
	font-style: italic;	
}

.projects {
	height:180em;
	background-image:url(../images/projects2.png);
	background-position: left;
	background-size: 25em;
	display: block;
}

.project1 {
	@include container;
		.A_side {
		background: url(../images/honeybuckets.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.project2 {
	@include container;
		.A_side {
		background: url(../images/mission.png);
		background-size: cover;
		background-repeat: no-repeat;
	}
}

.project3 {
	@include container;
		.A_side {
		background: url(../images/ourwall.png);
		background-size: cover;
		background-repeat: no-repeat;

	}
	.B_side {
	}
}

.project4{
	@include container;
		.A_side {
		background: url(../images/Logo.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
		.B_side {
		background: url(../images/passportpdx.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		}
}

.project5{
	@include container;
		.A_side {
		background: url(../images/hillsdale.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	
}

.project6{
	@include container;
	.A_side {
		background: url(../images/justline.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
		.B_side {
			background: url(../images/JLB.png);
			background-size: cover;
			background-position: center;
			
		}
}
.vinylB {
	height:20%;
	background:black;
	height: 100px;
}

.other_interests {
	height:65em;
	background-image:url(../images/other2.png);
	background-position: left;
	background-size: 25em;

}

.row {
	@include span(3 at 5 isolate);
  display: block;
  display: inline;
	padding-top: 5em;
	padding-left: 5em;
}

.drawing {
	background-image: url(../images/drawing.jpg);
	height: 18em;
	width: 15em;
	background-attachment: local;
	background-size: 100%;
	background-position: center;
	padding-bottom: 7em;
}

// .drawing:hover {
// 	background: black;
// }

.photo {
	background-image: url(../images/photo.jpg);
	height: 18em;
	width: 15em;
	background-attachment: local;
	background-size: contain;
}

.hardware {
  background-image: url(../images/Rasp.jpg);
	height: 18em;
	width: 15em;
	background-attachment: local;
	background-size: contain;
}

.Business_card {
	@include span(10 at 2 isolate);
	height:35em;
	background:white;
	border:solid;
	display: block;
} 

.Business_card {
	text-align: center;
}

li{
	display: inline;
}

img{
	height: 5em;
	width: 5em;
	padding: 1em;
	padding-left: 3em;
}