
@import "grids";

@mixin container{
	.container {
		@include span(4 at 5 isolate);
		-webkit-perspective: 1000;
		        perspective: 1000;
		padding-top: 5em;
		cursor: pointer;

	}

	.container:hover .card, .container.hover .card {
		-webkit-transform: rotateY(180deg);
		        transform: rotateY(180deg);
	}

	.container, .A_side, .B_side {
		height: 20em;
		width: 24em;
	}

	.card {
		transition: 0.6s;
		-webkit-transform-style: preserve-3d;
		        transform-style: preserve-3d;
		position: relative;
	
	}

	.A_side, .B_side {
		-webkit-backface-visibility: hidden;
		        backface-visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		
	}

	.A_side {
		z-index: 2;
		-webkit-transform: rotateY(0deg);
		        transform: rotateY(0deg);
		background: red;
		padding-left: 1em;
		display: block;
		box-shadow:-4px 2px 2px 2px grey;
	}

	.B_side {
		-webkit-transform: rotateY(180deg);
		        transform: rotateY(180deg);
		background: #006C2C;
		padding-left: 1em;
		display: block;
		overflow: auto;
	}
	p {
		z-index: 2;
	}

}

html {
	box-sizing: border-box;
	//font-family: Futura;
	font-family: courier;
	text-shadow: 1px 1px 1px black;
	color: white;
	font-size: 24px;
}

body {
	background: url(../images/bg8.jpg) no-repeat center center fixed;
	background-size: cover; 
}

div{
	@include span(12);
	//height: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background-size: 70%;
	//background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

a:link {
	color: #09B9B4;
	text-decoration: none;
}

a:link, a:visited {
	color: #09B9B4;
	text-decoration: none;
}
.nav {
//background: rgba(255, 0, 0, 0.1);
font-size: 36px;
text-align: center;
position: fixed;
//padding-left: 25%;
z-index: 3;
font-variant: small-caps;
}

.nav a {
	text-decoration: none;
	color: white;
}
.nav a:hover {
	color: green;
}

.greeting{
	padding-top: 15%;
	padding-left: 5%;
	font-size: 36px;
	font-variant: small-caps;
}

.intro{
	height: 40em;
	background-image:url(../images/portfolio_header4.png);
	background-position: right;
	//padding-top: 5em;
	background-size: contain;
}

.vinylA {
	background:black;
	height: 10em;
	font-size: 2em;
	overflow:auto;
	font-style: italic;
	padding-bottom: 2em;
}

.vinylA p{
	text-align: center;
}

.content {
	padding: 1em;
	margin: 1em;
}

.design p {
	@include span(12);
	text-align: right;
	padding-top: 2.5em;
	padding-right: 2em;
	font-size: 36px;
	color: red;
	font-style: italic;
	font-variant: small-caps;
}

.projects {
	height:180em;
	background-image:url(../images/projects2.png);
	background-position: left;
	background-size: 25em;
	display: block;
}

.project1 {
	@include container;
		.A_side {
		background: url(../images/honeybuckets.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
		.B_side p{
			font-variant: none; 
		}

}

.project2 {
	@include container;
		.A_side {
		background: url(../images/mission.png);
		background-size: cover;
		background-repeat: no-repeat;
	}
}

.project3 {
	@include container;
		.A_side {
		background: url(../images/ourwall.png);
		background-size: cover;
		background-repeat: no-repeat;

	}
	.B_side {
	}
}

.project4{
	@include container;
		.A_side {
		background: url(../images/Logo.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
		.B_side {
		background: url(../images/passportpdx.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		}
}

.project5{
	@include container;
		.A_side {
		background: url(../images/hillsdale.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	
}

.project6{
	@include container;
	.A_side {
		background: url(../images/justline.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
		.B_side {
			background: url(../images/JLB.png);
			background-size: cover;
			background-position: center;
			
		}
}
.vinylB {
	
	background: black;
	color: white;
	height: 13em;
	font-size: 2em;
	text-align: center;
	overflow: auto;
	padding-bottom:2em;

}
.vinylB p{
	//margin-top: -1em;
	margin: 2em;
}

.label {
	text-align: right;
	color: red;
	font-size: 40px;
	font-style: italic;
	padding-top: 1em;
}
.other_interests {
	height:95em;
	background-image:url(../images/other2.png);
	background-position: left;
	background-size: 25em;

}

.other {
	@include span(4 at 5 isolate);
	display: block;	
}

.wrapper {
	height: 20em;
	position: relative;
	padding-top: 5em;
}

.drawing {
	background-image: url(../images/drawing.png);
	background-size: contain;
	background-attachment: local;

}

.interests{
	font-size: 40px;

}

.photo{
	background-image: url(../images/photo.png);
	background-size: contain;
	background-attachment: local;
}

.hardware{
	background-image: url(../images/hardware.png);
	background-size: contain;
	background-attachment: local;
}

.Business_card {
	@include span(12);
	height:30em;
	background:white;
	border:solid;
	display: block;
	//padding-left: 5em;
} 

.Business_card p{
	text-align: center;
	//color: #09B9B4;
	color:black;
	text-shadow: white;
	font-variant: small-caps;
}

.links {
	padding: 3% 0 3% 0;
	margin: 0 auto;
}

li{
	display: inline;
}

img{
	height: 4em;
	width: 4em;
	padding-top: 0.25em;
	padding-left: 2em;
	padding-right: 2em;
}