/* line 67, ../sass/style.scss */
html {
  box-sizing: border-box;
  font-family: courier;
  text-shadow: 1px 1px 1px black;
  color: white;
  font-size: 24px;
}

/* line 76, ../sass/style.scss */
body {
  background: url(../images/bg8.jpg) no-repeat center center fixed;
  background-size: cover;
}

/* line 81, ../sass/style.scss */
div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-size: 70%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* line 93, ../sass/style.scss */
a:link {
  color: #09B9B4;
  text-decoration: none;
}

/* line 98, ../sass/style.scss */
a:link, a:visited {
  color: #09B9B4;
  text-decoration: none;
}

/* line 103, ../sass/style.scss */
.nav {
  font-size: 34px;
  text-align: center;
  position: fixed;
  padding: 0.25em;
  z-index: 3;
  font-variant: small-caps;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
}

/* line 122, ../sass/style.scss */
.nav a {
  text-decoration: none;
  color: white;
}

/* line 126, ../sass/style.scss */
.nav a:hover {
  color: green;
}

/* line 130, ../sass/style.scss */
.greeting {
  padding-top: 15%;
  padding-left: 5%;
  font-size: 36px;
  font-variant: small-caps;
}

/* line 137, ../sass/style.scss */
.intro {
  height: 40em;
  background-image: url(../images/portfolio_header4.png);
  background-position: right;
  background-size: contain;
}

/* line 145, ../sass/style.scss */
.vinylA {
  background: black;
  height: 10em;
  font-size: 2em;
  overflow: auto;
  font-style: italic;
  padding-bottom: 2em;
}

/* line 154, ../sass/style.scss */
.vinylA p {
  text-align: center;
}

/* line 158, ../sass/style.scss */
.content {
  padding: 1em;
  margin: 1em;
}

/* line 163, ../sass/style.scss */
.design p {
  text-align: right;
  padding-top: 2.5em;
  padding-right: 2em;
  font-size: 36px;
  color: red;
  font-style: italic;
  font-variant: small-caps;
}

/* line 174, ../sass/style.scss */
.projects {
  height: 180em;
  background-image: url(../images/projects2.png);
  background-position: left;
  background-size: 25em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* line 5, ../sass/style.scss */
.project1 .container {
  -webkit-perspective: 1000;
  perspective: 1000;
  padding-top: 5em;
  cursor: pointer;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
}
/* line 16, ../sass/style.scss */
.project1 .container:hover .card, .project1 .container.hover .card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 21, ../sass/style.scss */
.project1 .container, .project1 .A_side, .project1 .B_side {
  height: 20em;
  width: 24em;
}
/* line 26, ../sass/style.scss */
.project1 .card {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
/* line 34, ../sass/style.scss */
.project1 .A_side, .project1 .B_side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 43, ../sass/style.scss */
.project1 .A_side {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background: red;
  padding-left: 1em;
  display: block;
  box-shadow: -4px 2px 2px 2px grey;
}
/* line 53, ../sass/style.scss */
.project1 .B_side {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #006C2C;
  padding-left: 1em;
  display: block;
  overflow: auto;
}
/* line 61, ../sass/style.scss */
.project1 p {
  z-index: 2;
}
/* line 191, ../sass/style.scss */
.project1 .A_side {
  background: url(../images/honeybuckets.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 197, ../sass/style.scss */
.project1 .B_side p {
  font-variant: none;
}

/* line 5, ../sass/style.scss */
.project2 .container {
  -webkit-perspective: 1000;
  perspective: 1000;
  padding-top: 5em;
  cursor: pointer;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
}
/* line 16, ../sass/style.scss */
.project2 .container:hover .card, .project2 .container.hover .card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 21, ../sass/style.scss */
.project2 .container, .project2 .A_side, .project2 .B_side {
  height: 20em;
  width: 24em;
}
/* line 26, ../sass/style.scss */
.project2 .card {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
/* line 34, ../sass/style.scss */
.project2 .A_side, .project2 .B_side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 43, ../sass/style.scss */
.project2 .A_side {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background: red;
  padding-left: 1em;
  display: block;
  box-shadow: -4px 2px 2px 2px grey;
}
/* line 53, ../sass/style.scss */
.project2 .B_side {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #006C2C;
  padding-left: 1em;
  display: block;
  overflow: auto;
}
/* line 61, ../sass/style.scss */
.project2 p {
  z-index: 2;
}
/* line 205, ../sass/style.scss */
.project2 .A_side {
  background: url(../images/mission.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 5, ../sass/style.scss */
.project3 .container {
  -webkit-perspective: 1000;
  perspective: 1000;
  padding-top: 5em;
  cursor: pointer;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
}
/* line 16, ../sass/style.scss */
.project3 .container:hover .card, .project3 .container.hover .card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 21, ../sass/style.scss */
.project3 .container, .project3 .A_side, .project3 .B_side {
  height: 20em;
  width: 24em;
}
/* line 26, ../sass/style.scss */
.project3 .card {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
/* line 34, ../sass/style.scss */
.project3 .A_side, .project3 .B_side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 43, ../sass/style.scss */
.project3 .A_side {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background: red;
  padding-left: 1em;
  display: block;
  box-shadow: -4px 2px 2px 2px grey;
}
/* line 53, ../sass/style.scss */
.project3 .B_side {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #006C2C;
  padding-left: 1em;
  display: block;
  overflow: auto;
}
/* line 61, ../sass/style.scss */
.project3 p {
  z-index: 2;
}
/* line 214, ../sass/style.scss */
.project3 .A_side {
  background: url(../images/ourwall.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 5, ../sass/style.scss */
.project4 .container {
  -webkit-perspective: 1000;
  perspective: 1000;
  padding-top: 5em;
  cursor: pointer;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
}
/* line 16, ../sass/style.scss */
.project4 .container:hover .card, .project4 .container.hover .card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 21, ../sass/style.scss */
.project4 .container, .project4 .A_side, .project4 .B_side {
  height: 20em;
  width: 24em;
}
/* line 26, ../sass/style.scss */
.project4 .card {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
/* line 34, ../sass/style.scss */
.project4 .A_side, .project4 .B_side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 43, ../sass/style.scss */
.project4 .A_side {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background: red;
  padding-left: 1em;
  display: block;
  box-shadow: -4px 2px 2px 2px grey;
}
/* line 53, ../sass/style.scss */
.project4 .B_side {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #006C2C;
  padding-left: 1em;
  display: block;
  overflow: auto;
}
/* line 61, ../sass/style.scss */
.project4 p {
  z-index: 2;
}
/* line 226, ../sass/style.scss */
.project4 .A_side {
  background: url(../images/Logo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 232, ../sass/style.scss */
.project4 .B_side {
  background: url(../images/passportpdx.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 5, ../sass/style.scss */
.project5 .container {
  -webkit-perspective: 1000;
  perspective: 1000;
  padding-top: 5em;
  cursor: pointer;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
}
/* line 16, ../sass/style.scss */
.project5 .container:hover .card, .project5 .container.hover .card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 21, ../sass/style.scss */
.project5 .container, .project5 .A_side, .project5 .B_side {
  height: 20em;
  width: 24em;
}
/* line 26, ../sass/style.scss */
.project5 .card {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
/* line 34, ../sass/style.scss */
.project5 .A_side, .project5 .B_side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 43, ../sass/style.scss */
.project5 .A_side {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background: red;
  padding-left: 1em;
  display: block;
  box-shadow: -4px 2px 2px 2px grey;
}
/* line 53, ../sass/style.scss */
.project5 .B_side {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #006C2C;
  padding-left: 1em;
  display: block;
  overflow: auto;
}
/* line 61, ../sass/style.scss */
.project5 p {
  z-index: 2;
}
/* line 242, ../sass/style.scss */
.project5 .A_side {
  background: url(../images/hillsdale.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 5, ../sass/style.scss */
.project6 .container {
  -webkit-perspective: 1000;
  perspective: 1000;
  padding-top: 5em;
  cursor: pointer;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
}
/* line 16, ../sass/style.scss */
.project6 .container:hover .card, .project6 .container.hover .card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 21, ../sass/style.scss */
.project6 .container, .project6 .A_side, .project6 .B_side {
  height: 20em;
  width: 24em;
}
/* line 26, ../sass/style.scss */
.project6 .card {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
/* line 34, ../sass/style.scss */
.project6 .A_side, .project6 .B_side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 43, ../sass/style.scss */
.project6 .A_side {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background: red;
  padding-left: 1em;
  display: block;
  box-shadow: -4px 2px 2px 2px grey;
}
/* line 53, ../sass/style.scss */
.project6 .B_side {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #006C2C;
  padding-left: 1em;
  display: block;
  overflow: auto;
}
/* line 61, ../sass/style.scss */
.project6 p {
  z-index: 2;
}
/* line 253, ../sass/style.scss */
.project6 .A_side {
  background: url(../images/justline.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 259, ../sass/style.scss */
.project6 .B_side {
  background: url(../images/JLB.png);
  background-size: cover;
  background-position: center;
}

/* line 266, ../sass/style.scss */
.vinylB {
  background: black;
  color: white;
  height: 13em;
  font-size: 2em;
  text-align: center;
  overflow: auto;
  padding-bottom: 2em;
}

/* line 277, ../sass/style.scss */
.vinylB p {
  margin: 2em;
}

/* line 282, ../sass/style.scss */
.label {
  text-align: right;
  color: red;
  font-size: 40px;
  font-style: italic;
  padding-top: 1em;
}

/* line 289, ../sass/style.scss */
.other_interests {
  height: 95em;
  background-image: url(../images/other2.png);
  background-position: left;
  background-size: 25em;
}

/* line 297, ../sass/style.scss */
.other {
  display: block;
}

/* line 302, ../sass/style.scss */
.wrapper {
  height: 20em;
  position: relative;
  padding-top: 5em;
}

/* line 308, ../sass/style.scss */
.drawing {
  background-image: url(../images/drawing.png);
  background-size: contain;
  background-attachment: local;
}

/* line 315, ../sass/style.scss */
.interests {
  font-size: 40px;
}

/* line 320, ../sass/style.scss */
.photo {
  background-image: url(../images/photo.png);
  background-size: contain;
  background-attachment: local;
}

/* line 326, ../sass/style.scss */
.hardware {
  background-image: url(../images/hardware.png);
  background-size: contain;
  background-attachment: local;
}

/* line 332, ../sass/style.scss */
.Business_card {
  height: 30em;
  background: white;
  border: solid;
  display: block;
}

/* line 341, ../sass/style.scss */
.Business_card p {
  text-align: center;
  color: black;
  text-shadow: white;
  font-variant: small-caps;
}

/* line 349, ../sass/style.scss */
.links {
  padding: 3% 0 3% 0;
  margin: 0 auto;
}

/* line 354, ../sass/style.scss */
li {
  display: inline;
}

/* line 358, ../sass/style.scss */
img {
  height: 4em;
  width: 4em;
  padding-top: 0.25em;
  padding-left: 2em;
  padding-right: 2em;
}
