/* line 64, ../sass/style.scss */
html {
  box-sizing: border-box;
  font-family: courier;
  text-shadow: 1px 1px 1px black;
  color: white;
}

/* line 71, ../sass/style.scss */
body {
  background: url(../images/bg5.jpg) no-repeat center center fixed;
  background-size: cover;
}

/* line 76, ../sass/style.scss */
div {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  background-size: 70%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* line 85, ../sass/style.scss */
.nav {
  background: rgba(255, 0, 0, 0.1);
  text-align: center;
  position: fixed;
  padding-left: 25%;
  z-index: 3;
}

/* line 93, ../sass/style.scss */
.nav a {
  text-decoration: none;
  color: white;
}

/* line 97, ../sass/style.scss */
.nav a:hover {
  color: green;
}

/* line 101, ../sass/style.scss */
.greeting {
  padding-top: 10%;
}

/* line 105, ../sass/style.scss */
.intro {
  height: 40em;
  background-image: url(../images/portfolio_header4.png);
  background-position: right;
  background-size: contain;
}

/* line 113, ../sass/style.scss */
.vinylA {
  background: black;
  height: 10em;
  font-size: 2em;
  overflow: auto;
}

/* line 120, ../sass/style.scss */
.vinylA p {
  text-align: center;
}

/* line 124, ../sass/style.scss */
.content {
  padding: 1em;
  margin: 1em;
}

/* line 129, ../sass/style.scss */
.design {
  height: 10em;
  margin: auto;
  padding: auto;
}

/* line 135, ../sass/style.scss */
.design p {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: right;
  padding: 1.5em;
  font-size: 36px;
  color: red;
  font-style: italic;
}

/* line 145, ../sass/style.scss */
.projects {
  height: 180em;
  background-image: url(../images/projects2.png);
  background-position: left;
  background-size: 25em;
  display: block;
}

/* line 7, ../sass/style.scss */
.project1 .container {
  width: 32.20339%;
  float: left;
  margin-left: 33.89831%;
  margin-right: -100%;
  perspective: 1000;
  padding-top: 5em;
  cursor: pointer;
}
/* line 15, ../sass/style.scss */
.project1 .container:hover .card, .project1 .container.hover .card {
  transform: rotateY(180deg);
}
/* line 19, ../sass/style.scss */
.project1 .container, .project1 .A_side, .project1 .B_side {
  height: 20em;
  width: 24em;
}
/* line 24, ../sass/style.scss */
.project1 .card {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* line 31, ../sass/style.scss */
.project1 .A_side, .project1 .B_side {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 39, ../sass/style.scss */
.project1 .A_side {
  z-index: 2;
  transform: rotateY(0deg);
  background: red;
  padding-left: 1em;
  display: block;
  box-shadow: -4px 2px 2px 2px grey;
}
/* line 48, ../sass/style.scss */
.project1 .B_side {
  transform: rotateY(180deg);
  background: green;
  padding-left: 1em;
  display: block;
}
/* line 54, ../sass/style.scss */
.project1 p {
  z-index: 2;
}
/* line 155, ../sass/style.scss */
.project1 .A_side {
  background: url(../images/honeybuckets.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 7, ../sass/style.scss */
.project2 .container {
  width: 32.20339%;
  float: left;
  margin-left: 33.89831%;
  margin-right: -100%;
  perspective: 1000;
  padding-top: 5em;
  cursor: pointer;
}
/* line 15, ../sass/style.scss */
.project2 .container:hover .card, .project2 .container.hover .card {
  transform: rotateY(180deg);
}
/* line 19, ../sass/style.scss */
.project2 .container, .project2 .A_side, .project2 .B_side {
  height: 20em;
  width: 24em;
}
/* line 24, ../sass/style.scss */
.project2 .card {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* line 31, ../sass/style.scss */
.project2 .A_side, .project2 .B_side {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 39, ../sass/style.scss */
.project2 .A_side {
  z-index: 2;
  transform: rotateY(0deg);
  background: red;
  padding-left: 1em;
  display: block;
  box-shadow: -4px 2px 2px 2px grey;
}
/* line 48, ../sass/style.scss */
.project2 .B_side {
  transform: rotateY(180deg);
  background: green;
  padding-left: 1em;
  display: block;
}
/* line 54, ../sass/style.scss */
.project2 p {
  z-index: 2;
}
/* line 165, ../sass/style.scss */
.project2 .A_side {
  background: url(../images/mission.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 7, ../sass/style.scss */
.project3 .container {
  width: 32.20339%;
  float: left;
  margin-left: 33.89831%;
  margin-right: -100%;
  perspective: 1000;
  padding-top: 5em;
  cursor: pointer;
}
/* line 15, ../sass/style.scss */
.project3 .container:hover .card, .project3 .container.hover .card {
  transform: rotateY(180deg);
}
/* line 19, ../sass/style.scss */
.project3 .container, .project3 .A_side, .project3 .B_side {
  height: 20em;
  width: 24em;
}
/* line 24, ../sass/style.scss */
.project3 .card {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* line 31, ../sass/style.scss */
.project3 .A_side, .project3 .B_side {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 39, ../sass/style.scss */
.project3 .A_side {
  z-index: 2;
  transform: rotateY(0deg);
  background: red;
  padding-left: 1em;
  display: block;
  box-shadow: -4px 2px 2px 2px grey;
}
/* line 48, ../sass/style.scss */
.project3 .B_side {
  transform: rotateY(180deg);
  background: green;
  padding-left: 1em;
  display: block;
}
/* line 54, ../sass/style.scss */
.project3 p {
  z-index: 2;
}
/* line 174, ../sass/style.scss */
.project3 .A_side {
  background: url(../images/ourwall.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 7, ../sass/style.scss */
.project4 .container {
  width: 32.20339%;
  float: left;
  margin-left: 33.89831%;
  margin-right: -100%;
  perspective: 1000;
  padding-top: 5em;
  cursor: pointer;
}
/* line 15, ../sass/style.scss */
.project4 .container:hover .card, .project4 .container.hover .card {
  transform: rotateY(180deg);
}
/* line 19, ../sass/style.scss */
.project4 .container, .project4 .A_side, .project4 .B_side {
  height: 20em;
  width: 24em;
}
/* line 24, ../sass/style.scss */
.project4 .card {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* line 31, ../sass/style.scss */
.project4 .A_side, .project4 .B_side {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 39, ../sass/style.scss */
.project4 .A_side {
  z-index: 2;
  transform: rotateY(0deg);
  background: red;
  padding-left: 1em;
  display: block;
  box-shadow: -4px 2px 2px 2px grey;
}
/* line 48, ../sass/style.scss */
.project4 .B_side {
  transform: rotateY(180deg);
  background: green;
  padding-left: 1em;
  display: block;
}
/* line 54, ../sass/style.scss */
.project4 p {
  z-index: 2;
}
/* line 186, ../sass/style.scss */
.project4 .A_side {
  background: url(../images/Logo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 192, ../sass/style.scss */
.project4 .B_side {
  background: url(../images/passportpdx.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 7, ../sass/style.scss */
.project5 .container {
  width: 32.20339%;
  float: left;
  margin-left: 33.89831%;
  margin-right: -100%;
  perspective: 1000;
  padding-top: 5em;
  cursor: pointer;
}
/* line 15, ../sass/style.scss */
.project5 .container:hover .card, .project5 .container.hover .card {
  transform: rotateY(180deg);
}
/* line 19, ../sass/style.scss */
.project5 .container, .project5 .A_side, .project5 .B_side {
  height: 20em;
  width: 24em;
}
/* line 24, ../sass/style.scss */
.project5 .card {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* line 31, ../sass/style.scss */
.project5 .A_side, .project5 .B_side {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 39, ../sass/style.scss */
.project5 .A_side {
  z-index: 2;
  transform: rotateY(0deg);
  background: red;
  padding-left: 1em;
  display: block;
  box-shadow: -4px 2px 2px 2px grey;
}
/* line 48, ../sass/style.scss */
.project5 .B_side {
  transform: rotateY(180deg);
  background: green;
  padding-left: 1em;
  display: block;
}
/* line 54, ../sass/style.scss */
.project5 p {
  z-index: 2;
}
/* line 202, ../sass/style.scss */
.project5 .A_side {
  background: url(../images/hillsdale.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 7, ../sass/style.scss */
.project6 .container {
  width: 32.20339%;
  float: left;
  margin-left: 33.89831%;
  margin-right: -100%;
  perspective: 1000;
  padding-top: 5em;
  cursor: pointer;
}
/* line 15, ../sass/style.scss */
.project6 .container:hover .card, .project6 .container.hover .card {
  transform: rotateY(180deg);
}
/* line 19, ../sass/style.scss */
.project6 .container, .project6 .A_side, .project6 .B_side {
  height: 20em;
  width: 24em;
}
/* line 24, ../sass/style.scss */
.project6 .card {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* line 31, ../sass/style.scss */
.project6 .A_side, .project6 .B_side {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 39, ../sass/style.scss */
.project6 .A_side {
  z-index: 2;
  transform: rotateY(0deg);
  background: red;
  padding-left: 1em;
  display: block;
  box-shadow: -4px 2px 2px 2px grey;
}
/* line 48, ../sass/style.scss */
.project6 .B_side {
  transform: rotateY(180deg);
  background: green;
  padding-left: 1em;
  display: block;
}
/* line 54, ../sass/style.scss */
.project6 p {
  z-index: 2;
}
/* line 213, ../sass/style.scss */
.project6 .A_side {
  background: url(../images/justline.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 219, ../sass/style.scss */
.project6 .B_side {
  background: url(../images/JLB.png);
  background-size: cover;
  background-position: center;
}

/* line 226, ../sass/style.scss */
.vinylB {
  background: black;
  height: 10em;
  font-size: 2em;
}

/* line 232, ../sass/style.scss */
.other_interests {
  height: 65em;
  background-image: url(../images/other2.png);
  background-position: left;
  background-size: 25em;
}

/* line 240, ../sass/style.scss */
.more {
  position: relative;
  height: 10em;
  width: 30em;
  background: rgba(0, 0, 0, 0.3);
  padding: 10em;
  margin: 10em;
}

/* line 249, ../sass/style.scss */
.Business_card {
  height: 35em;
  background: white;
  border: solid;
  display: block;
}

/* line 258, ../sass/style.scss */
.Business_card {
  text-align: center;
}

/* line 262, ../sass/style.scss */
li {
  display: inline;
}

/* line 266, ../sass/style.scss */
img {
  height: 5em;
  width: 5em;
  padding: 1em;
  padding-left: 5em;
}
