/* line 61, ../sass/style.scss */
html {
  box-sizing: border-box;
  font-family: courier;
  text-shadow: 1px 1px 1px black;
  color: white;
  font-size: 24px;
}

/* line 70, ../sass/style.scss */
body {
  background: url(../images/bg8.jpg) no-repeat center center fixed;
  background-size: cover;
}

/* line 75, ../sass/style.scss */
div {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  background-size: 70%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* line 85, ../sass/style.scss */
a:link {
  color: #09B9B4;
  text-decoration: none;
}

/* line 90, ../sass/style.scss */
a:link, a:visited {
  color: #09B9B4;
  text-decoration: none;
}

/* line 94, ../sass/style.scss */
.nav {
  background: rgba(255, 0, 0, 0.1);
  text-align: center;
  position: fixed;
  padding-left: 25%;
  z-index: 3;
  font-variant: small-caps;
}

/* line 103, ../sass/style.scss */
.nav a {
  text-decoration: none;
  color: white;
}

/* line 107, ../sass/style.scss */
.nav a:hover {
  color: green;
}

/* line 111, ../sass/style.scss */
.greeting {
  padding-top: 15%;
  padding-left: 5%;
  font-size: 36px;
  font-variant: small-caps;
}

/* line 118, ../sass/style.scss */
.intro {
  height: 40em;
  background-image: url(../images/portfolio_header4.png);
  background-position: right;
  background-size: contain;
}

/* line 126, ../sass/style.scss */
.vinylA {
  background: black;
  height: 10em;
  font-size: 2em;
  overflow: auto;
  font-style: italic;
  padding-bottom: 2em;
}

/* line 135, ../sass/style.scss */
.vinylA p {
  text-align: center;
}

/* line 139, ../sass/style.scss */
.content {
  padding: 1em;
  margin: 1em;
}

/* line 144, ../sass/style.scss */
.design p {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: right;
  padding-top: 2.5em;
  padding-right: 2em;
  font-size: 36px;
  color: red;
  font-style: italic;
  font-variant: small-caps;
}

/* line 155, ../sass/style.scss */
.projects {
  height: 180em;
  background-image: url(../images/projects2.png);
  background-position: left;
  background-size: 25em;
  display: block;
}

/* line 7, ../sass/style.scss */
.project1 .container {
  width: 32.20339%;
  float: left;
  margin-left: 33.89831%;
  margin-right: -100%;
  perspective: 1000;
  padding-top: 5em;
  cursor: pointer;
}
/* line 15, ../sass/style.scss */
.project1 .container:hover .card, .project1 .container.hover .card {
  transform: rotateY(180deg);
}
/* line 19, ../sass/style.scss */
.project1 .container, .project1 .A_side, .project1 .B_side {
  height: 20em;
  width: 24em;
}
/* line 24, ../sass/style.scss */
.project1 .card {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* line 31, ../sass/style.scss */
.project1 .A_side, .project1 .B_side {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 39, ../sass/style.scss */
.project1 .A_side {
  z-index: 2;
  transform: rotateY(0deg);
  background: red;
  padding-left: 1em;
  display: block;
  box-shadow: -4px 2px 2px 2px grey;
}
/* line 48, ../sass/style.scss */
.project1 .B_side {
  transform: rotateY(180deg);
  background: #006C2C;
  padding-left: 1em;
  display: block;
  overflow: auto;
}
/* line 55, ../sass/style.scss */
.project1 p {
  z-index: 2;
}
/* line 165, ../sass/style.scss */
.project1 .A_side {
  background: url(../images/honeybuckets.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 171, ../sass/style.scss */
.project1 .B_side p {
  font-variant: none;
}

/* line 7, ../sass/style.scss */
.project2 .container {
  width: 32.20339%;
  float: left;
  margin-left: 33.89831%;
  margin-right: -100%;
  perspective: 1000;
  padding-top: 5em;
  cursor: pointer;
}
/* line 15, ../sass/style.scss */
.project2 .container:hover .card, .project2 .container.hover .card {
  transform: rotateY(180deg);
}
/* line 19, ../sass/style.scss */
.project2 .container, .project2 .A_side, .project2 .B_side {
  height: 20em;
  width: 24em;
}
/* line 24, ../sass/style.scss */
.project2 .card {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* line 31, ../sass/style.scss */
.project2 .A_side, .project2 .B_side {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 39, ../sass/style.scss */
.project2 .A_side {
  z-index: 2;
  transform: rotateY(0deg);
  background: red;
  padding-left: 1em;
  display: block;
  box-shadow: -4px 2px 2px 2px grey;
}
/* line 48, ../sass/style.scss */
.project2 .B_side {
  transform: rotateY(180deg);
  background: #006C2C;
  padding-left: 1em;
  display: block;
  overflow: auto;
}
/* line 55, ../sass/style.scss */
.project2 p {
  z-index: 2;
}
/* line 179, ../sass/style.scss */
.project2 .A_side {
  background: url(../images/mission.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 7, ../sass/style.scss */
.project3 .container {
  width: 32.20339%;
  float: left;
  margin-left: 33.89831%;
  margin-right: -100%;
  perspective: 1000;
  padding-top: 5em;
  cursor: pointer;
}
/* line 15, ../sass/style.scss */
.project3 .container:hover .card, .project3 .container.hover .card {
  transform: rotateY(180deg);
}
/* line 19, ../sass/style.scss */
.project3 .container, .project3 .A_side, .project3 .B_side {
  height: 20em;
  width: 24em;
}
/* line 24, ../sass/style.scss */
.project3 .card {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* line 31, ../sass/style.scss */
.project3 .A_side, .project3 .B_side {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 39, ../sass/style.scss */
.project3 .A_side {
  z-index: 2;
  transform: rotateY(0deg);
  background: red;
  padding-left: 1em;
  display: block;
  box-shadow: -4px 2px 2px 2px grey;
}
/* line 48, ../sass/style.scss */
.project3 .B_side {
  transform: rotateY(180deg);
  background: #006C2C;
  padding-left: 1em;
  display: block;
  overflow: auto;
}
/* line 55, ../sass/style.scss */
.project3 p {
  z-index: 2;
}
/* line 188, ../sass/style.scss */
.project3 .A_side {
  background: url(../images/ourwall.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 7, ../sass/style.scss */
.project4 .container {
  width: 32.20339%;
  float: left;
  margin-left: 33.89831%;
  margin-right: -100%;
  perspective: 1000;
  padding-top: 5em;
  cursor: pointer;
}
/* line 15, ../sass/style.scss */
.project4 .container:hover .card, .project4 .container.hover .card {
  transform: rotateY(180deg);
}
/* line 19, ../sass/style.scss */
.project4 .container, .project4 .A_side, .project4 .B_side {
  height: 20em;
  width: 24em;
}
/* line 24, ../sass/style.scss */
.project4 .card {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* line 31, ../sass/style.scss */
.project4 .A_side, .project4 .B_side {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 39, ../sass/style.scss */
.project4 .A_side {
  z-index: 2;
  transform: rotateY(0deg);
  background: red;
  padding-left: 1em;
  display: block;
  box-shadow: -4px 2px 2px 2px grey;
}
/* line 48, ../sass/style.scss */
.project4 .B_side {
  transform: rotateY(180deg);
  background: #006C2C;
  padding-left: 1em;
  display: block;
  overflow: auto;
}
/* line 55, ../sass/style.scss */
.project4 p {
  z-index: 2;
}
/* line 200, ../sass/style.scss */
.project4 .A_side {
  background: url(../images/Logo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 206, ../sass/style.scss */
.project4 .B_side {
  background: url(../images/passportpdx.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 7, ../sass/style.scss */
.project5 .container {
  width: 32.20339%;
  float: left;
  margin-left: 33.89831%;
  margin-right: -100%;
  perspective: 1000;
  padding-top: 5em;
  cursor: pointer;
}
/* line 15, ../sass/style.scss */
.project5 .container:hover .card, .project5 .container.hover .card {
  transform: rotateY(180deg);
}
/* line 19, ../sass/style.scss */
.project5 .container, .project5 .A_side, .project5 .B_side {
  height: 20em;
  width: 24em;
}
/* line 24, ../sass/style.scss */
.project5 .card {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* line 31, ../sass/style.scss */
.project5 .A_side, .project5 .B_side {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 39, ../sass/style.scss */
.project5 .A_side {
  z-index: 2;
  transform: rotateY(0deg);
  background: red;
  padding-left: 1em;
  display: block;
  box-shadow: -4px 2px 2px 2px grey;
}
/* line 48, ../sass/style.scss */
.project5 .B_side {
  transform: rotateY(180deg);
  background: #006C2C;
  padding-left: 1em;
  display: block;
  overflow: auto;
}
/* line 55, ../sass/style.scss */
.project5 p {
  z-index: 2;
}
/* line 216, ../sass/style.scss */
.project5 .A_side {
  background: url(../images/hillsdale.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 7, ../sass/style.scss */
.project6 .container {
  width: 32.20339%;
  float: left;
  margin-left: 33.89831%;
  margin-right: -100%;
  perspective: 1000;
  padding-top: 5em;
  cursor: pointer;
}
/* line 15, ../sass/style.scss */
.project6 .container:hover .card, .project6 .container.hover .card {
  transform: rotateY(180deg);
}
/* line 19, ../sass/style.scss */
.project6 .container, .project6 .A_side, .project6 .B_side {
  height: 20em;
  width: 24em;
}
/* line 24, ../sass/style.scss */
.project6 .card {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* line 31, ../sass/style.scss */
.project6 .A_side, .project6 .B_side {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 39, ../sass/style.scss */
.project6 .A_side {
  z-index: 2;
  transform: rotateY(0deg);
  background: red;
  padding-left: 1em;
  display: block;
  box-shadow: -4px 2px 2px 2px grey;
}
/* line 48, ../sass/style.scss */
.project6 .B_side {
  transform: rotateY(180deg);
  background: #006C2C;
  padding-left: 1em;
  display: block;
  overflow: auto;
}
/* line 55, ../sass/style.scss */
.project6 p {
  z-index: 2;
}
/* line 227, ../sass/style.scss */
.project6 .A_side {
  background: url(../images/justline.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 233, ../sass/style.scss */
.project6 .B_side {
  background: url(../images/JLB.png);
  background-size: cover;
  background-position: center;
}

/* line 240, ../sass/style.scss */
.vinylB {
  background: black;
  color: white;
  height: 13em;
  font-size: 2em;
  text-align: center;
  overflow: auto;
}

/* line 249, ../sass/style.scss */
.vinylB p {
  margin: 2em;
}

/* line 254, ../sass/style.scss */
.label {
  text-align: right;
  color: red;
  font-size: 40px;
  font-style: italic;
  padding-top: 1em;
}

/* line 261, ../sass/style.scss */
.other_interests {
  height: 95em;
  background-image: url(../images/other2.png);
  background-position: left;
  background-size: 25em;
}

/* line 269, ../sass/style.scss */
.other {
  width: 32.20339%;
  float: left;
  margin-left: 33.89831%;
  margin-right: -100%;
  display: block;
}

/* line 274, ../sass/style.scss */
.wrapper {
  height: 20em;
  position: relative;
  padding-top: 5em;
}

/* line 280, ../sass/style.scss */
.drawing {
  background-image: url(../images/drawing.png);
  background-size: contain;
  background-attachment: local;
}

/* line 287, ../sass/style.scss */
.interests {
  font-size: 40px;
}

/* line 292, ../sass/style.scss */
.photo {
  background-image: url(../images/photo.png);
  background-size: contain;
  background-attachment: local;
}

/* line 298, ../sass/style.scss */
.hardware {
  background-image: url(../images/hardware.png);
  background-size: contain;
  background-attachment: local;
}

/* line 304, ../sass/style.scss */
.Business_card {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 30em;
  background: white;
  border: solid;
  display: block;
}

/* line 313, ../sass/style.scss */
.Business_card p {
  text-align: center;
  color: black;
  text-shadow: white;
  font-variant: small-caps;
}

/* line 321, ../sass/style.scss */
li {
  display: inline;
}

/* line 325, ../sass/style.scss */
img {
  height: 4em;
  width: 4em;
  padding-top: 0.25em;
  padding-left: 4.5em;
}
